<div class="row">
  <div class="col col-6">
    <div class="card text-left">
      <img class="card-img-top" src="" alt="">
      <div class="card-body">
          <h4 class="card-title">Add Todo</h4>
        <app-todos-create>
          </app-todos-create>
      </div>
    </div>
 
  </div>
  <div class="col col-6">
    <div class="card text-left">
      <img class="card-img-top" src="" alt="">
      <div class="card-body">
        <h4 class="card-title">Dash Board</h4>
            <app-todos-dashboard>
    </app-todos-dashboard>
      </div>
    </div>

  </div>
</div>