<div class="card border-primary">
  <img class="card-img-top" alt="">
  <div class="card-body">
    <h4 class="card-title">Route</h4>
    <div class="row">
      <div class="col col-6">
        <div class="card">
          <img class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Create</h4>
            <app-route-create></app-route-create>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="card">
          <img class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Dashboard</h4>
            <app-route-dashboard></app-route-dashboard>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>