<div class="form-group">
  <label for="">Todo</label>
  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Task" #task><br>
  <select #status class="form-control">
    <option value="true">yes</option>
    <option value="false">no</option>
  
  </select>
  <input name="" id="" class="btn btn-primary" (click)="post(task.value, status.value)" type="button" value="Add">
</div>


 <div *ngFor="let todo of todos | async" class="card">
   <p>
      Task: {{todo.task}}
  </p>
  <p>
    Done: {{todo.done}}
  </p>
 </div>